doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title Seminur - Seminar URL Reader
		link(rel="stylesheet" href="/css/bootstrap.css" type="text/css")
		link(rel="stylesheet" href="/css/style.css" type="text/css")

	body
		div.container
			div.header
				ul.nav.nav-pills.pull-right
					li.active
						a(href='#') Home
					li
						a(href="#") Features

				h3.text-muted Seminurl