include header

div.jumbotron
	
	h2.text-center Seminurl - Seminar URL Reader
	
	p.lead.text-center Ever tired in seminars when lecturer shows a slide with an URL to a website or blog post? With Seminurl URL Reader you can point the camera to the white screen and open the url in your mobile device.
	
	if error
		div.error-container.alert.alert-danger
			p.lead= error

	hr
	form(method='post', action='upload', enctype='multipart/form-data').upload-form
		input(type='file', name='image', accept='image/*;capture=camera').btn.btn-lg.btn-default.wide-element
		hr
		input(type='submit', value='Send Image!').btn.btn-lg.btn-default#send-button.wide-element

include footer