doctype html
html
	head
		title= pageTitle
		link(rel="stylesheet" href="/css/normalize.css" type="text/css")
		link(rel="stylesheet" href="/css/foundation.min.css" type="text/css")
		link(rel="stylesheet" href="/css/style.css" type="text/css")

	body

		div.row
			div.small-2.columns
				p jooh

				form(method='post', enctype='multipart/form-data')
					input(type='file', accept='image/*;capture=camera').button.success
					input(type='submit' value='Send Image!').button.success


		div.row.footer
			p (c) 2014 VarmaIS

		script(src="/js/jquery-1.10.2.min.js")
		script(src="/js/main.js")